<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>Vue.js</title>
</head>
<body>
<div id="app">
  <form>
    <label for="agree">同意する：</label>
    <input type="checkbox" id="agree" v-model="agree" />
    <!-- <input type="checkbox" id="agree" v-model="agree"
      true-value="yes" false-value="no" /> -->
  </form>
  <div>回答：{{ agree }} </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
<script src="js/model_check.js"></script>
</body>
</html>